body{
  font-family: 'Overpass', sans-serif;
  color: #292e34;
  font-size:14px;
  padding:16px;
}

h2, h3{
  text-align:center;
  line-height:1;
}

.mentalspace, .tower, .task{
  border: 1px solid #D8D8D8;
  padding:16px;
  margin:8px;
}

.content{
  display:flex;
}

.mentalspace{
  background-color: #fff;


  -webkit-box-shadow: 7px 7px 7px 0px rgba(204,204,204,0.61);
  -moz-box-shadow: 7px 7px 7px 0px rgba(204,204,204,0.61);
  box-shadow: 7px 7px 7px 0px rgba(204,204,204,0.61);
  border-radius:5px;
}

.contents{
  display:flex;
  align-items:flex-start;
}

.tower{
  background-color: #f5f5f5;
}

.task{
  background-color: #ededed;
}

.QE{background-color: #7DC3E8;}

.PE{background-color: #A2DA9C;}

.UD{background-color:#8BB4B9;}

.PM{background-color:#CBC1FF;}

.RCM{background-color:#FBE8B6;}

.Other{background-color:#F4B678;}

.legend{
  display:flex;
}

.legend div{
  padding:8px;
  margin:8px;
}
